BasedOnStyle: WebKit
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
AlignTrailingComments: true
IndentWidth: 4
BreakConstructorInitializers: BeforeComma
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 100
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AccessModifierOffset: -2
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Always
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterClass: true
  BeforeElse: true
  BeforeCatch: true
  BeforeLambdaBody: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
